// IMPORTS
@import "./abstracts/functions";

// Abstracts
@import "./abstracts/mixins";
@import "./abstracts/variables";

// Base Styles
@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

// Pages
@import "./pages/home";

// Components
@import "./components/button";
@import "./components/composition";
@import "./components/feature-box";
@import "./components/card";
@import "./components//story";
@import "./components/bg-video";
@import "./components/form";

// Layout Styles
@import "./layout/header";
@import "./layout/footer.scss";
@import "./layout/grid"; // this is the file for our custom grid system
