// IMPORTS
@import "./abstracts/functions";
// Abstracts
@import "./abstracts/mixins";
@import "./abstracts/variables";

// Base Styles
@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

// Pages
@import "./pages/home";

// Components
@import "./components/button";
@import "./components/composition";

// Layout Styles
@import "./layout/header";
@import "./layout/grid"; // this is the file for our custom grid system
