.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; // here we move the section up to compensate for the clip path of 75vh
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right,
        rgba($color-dodger-blue, 0.8), 
        rgba($color-primary-dark, .9)), 
        url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -11.5rem;

    transform: skewY(-7deg); // skewing the section and moving it up
    & > * { // this is a direct child selector that selects all children underneath the current element
        transform: skewY(7deg);
    }
}